#root,
html,
body {
  height: 100vh;
  box-sizing: border-box;
  background: #f3f3fb; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.App {
  margin: 0 auto;
  width: 40%;
  padding-top: 50px;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  border-radius: 7px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 7px;
  background: rgba(219, 216, 216, 0.8);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(231, 226, 226, 0.4);
}

@media only screen and (max-width: 1150px) {
  .App {
    width: 50%;
  }
}

@media only screen and (max-width: 950px) {
  .App {
    max-width: 80%;
    width: auto;
  }
}
